@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{ 
    @*if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <button type="submit" asp-page="/Login" asp-page-handler="Logout">Logout</button>
        </form>
        
    }*@
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to our WebPhotoHost</h2>
    </div>
</div>
<div class="row text-center">
   
    
</div>
