@using Microsoft.AspNetCore.Authorization;
@using WebPhotoHostL.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPhotoHostGeneral</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 menuBg">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">
                    <img src="/images/logo50.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white semibold" asp-area="" asp-page="/Admin/AdminEmpl/AdPublications">HomeADMIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white semibold" asp-area="" asp-page="/Admin/AdminEmpl/AdPublications">Images</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white semibold" asp-area="" asp-page="/Admin/AdminEmpl/AdEdit">Add image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white semibold" asp-area="" asp-page="">@User.Identity.Name </a>
                        </li>
                        <li class="nav-item">
                            <form method="post">
                                <button type="submit" class="nav-link btn btn-link text-white semibold" asp-page="/Admin/LoginAdmin" asp-page-handler="Logout">Logout</button>
                            </form>
                        </li>
                        }
                        else
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/LoginAdmin">Sign in</a>
                        </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container containerBordered">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container border">
            &copy; 2020 - WebPhotoHost - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
