@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<style>
    h1 {
        font-family: 'Myriad Pro Bold Condensed Italic'; /* Гарнитура текста */
        font-size: 230%; /* Размер шрифта в процентах */
    }

    h2 {
        font-family: 'Myriad Pro Bold Condensed Italic'; /* Гарнитура текста */
        font-size: 230%; /* Размер шрифта в процентах */
    }
</style>
<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to our WebPhotoHost</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <img src="/images/banner1.png" class="w-50" alt="WEBPHOTOHOST" />
    </div>

</div>
