@page "{id}"
@model WebPhotoHostGeneral.Pages.Publications.DeleteModel
@{
    ViewData["Title"] = "Delete";
    ViewData["ShowButtons"] = false;
}

<h1 class="text-center">Delete Confirmation</h1>
<div class="alert alert-danger">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 offset-sm-0 offset-md-3 offset-xl-4">
            <partial name="_DisplayPublicationPartial" model="Model.Publication" view-data="ViewData" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 offset-sm-0 offset-md-3 offset-xl-4">
            <div class="text-center text-secondary">
                <h4>Publication ID: <span class="text-primary">@Model.Publication.Id</span></h4><hr />
                
                <h4>Department: <span class="text-primary">@Model.Publication.Department</span></h4><hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h5>Are you shure want to delete publication - @Model.Publication.Name?</h5>

            <form method="post">
                <button type="submit" class="btn btn-danger">Yes</button>
                <a class="btn btn-success" asp-page="/Publications/Publications">No</a>
            </form>

        </div>
    </div>
</div>
