@page
@model                         WebPhotoHostGeneral.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a asp-page="index">Home</a> <span class="divider">/</span></li>
    <li class="active">Register</li>
</ul>
<h3> Register</h3>
<hr class="soft" />

<div class="row">
    <div class="span12">
        <div class="well">
            <form method="post" asp-page="register">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input class="span3" type="text" id="username" asp-for="@Model.user.Username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Password</label>
                    <div class="controls">
                        <input type="password" class="span3" id="inputPassword1" placeholder="Password" asp-for="@Model.user.Password">
                    </div>
                </div>
                

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>