@page
@model WebPhotoHostGeneral.Areas.Admin.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<ul class="breadcrumb">
    <li><a asp-page="index">Home</a> <span class="divider">/</span></li>
    <li class="active">Login Admin Area</li>
</ul>
<h3> Login</h3>
<hr class="soft" />

<div class="row">
    <div class="span12">
        <div class="well">
            @Model.Msg
            <form method="post" asp-page="login">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input class="span3" type="text" id="username" placeholder="Username" name="username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Password</label>
                    <div class="controls">
                        <input type="password" class="span3" id="inputPassword1" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Sign In</button> <a asp-page="register">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
